# Exercise 00
Write a bit of code that prints _Introduction to Programming_ to the console and execute the cell

In [1]:
print("Introduction to Programming ")

Introduction to Programming

-----------------------------------------------------------------------------
# Exercise 01
Hello World is traditionally the first program anyone writes. It is
very simple and the only thing it should do is print Hello World! to the
terminal window.
Create a file called HelloWorld.py and edit the contents so it prints Hello World! to the terminal and execute it using the command line.

-----------------------------------------------------------------------------
# Exercise 02
Write some code to print your name, email, and age on separate lines. For each element first assign it to a variable and use the variable to print. 

Bonus: try to create the print statement for all variable in one line of code. (hint: '\n' is the character for a new line)

In [3]:
print("VictorMeng\n""ucbvyme@ucl.ac.uk\n""22\n")

VictorMeng
ucbvyme@ucl.ac.uk
22

-----------------------------------------------------------------------------
# Exercise 03
Print the numbers 0, 178, -21, 2938 divided by 49, 436 multiplied with 9948 and 12 to the power of 20

(Hint: Look up the documentation of basic arithmetic operators)

In [71]:
0

0

In [72]:
178

178

In [73]:
-21

-21

In [31]:
2938/49

59.95918367346939

In [32]:
436*9948

4337328

In [33]:
12**20

3833759992447475122176

In [1]:
print(0)
print(178)
print(-21)
print(2938/49)
print(436*9948)
print(12**20)

0
178
-21
59.95918367346939
4337328
3833759992447475122176

-----------------------------------------------------------------------------
# Exercise 04
Print sin(200), cos(100), tan($\pi$/4)

(Hint: Look up for how to use trigonometric function, and how to get the value of $\pi$.)

In [18]:
math.sin(200)

-0.8732972972139946

In [16]:
math.cos(100)

0.8623188722876839

In [68]:
import math
math.tan(math.pi/4)

0.9999999999999999

-----------------------------------------------------------------------------
# Exercise 05
Write a program to read your first and last names from the console seperately, and then print them on the console together, separated by a space.

In [3]:
stringA = "Victor"
stringB = "Meng"
phrase = stringA + " " + stringB

print (phrase)

Victor Meng

-----------------------------------------------------------------------------
# Exercise 06
Write a program that determines whether a number given as user input is positive or negative
 
You will need to convert the console input from a string to a number first!

In [4]:
user_input = -3

if int(user_input) > 0:
    print("The Number given as user input is positive")
elif int(user_input) < 0:
    print("The Number given as user input is negative")

The Number given as user input is negative

-----------------------------------------------------------------------------
# Exercise 07
Write a program that picks a random number between 1-20 and makes the user guess until they get the number right. Then print a congratulations message
- (Find out yourself how to generate a random integer)
- Bonus: make the user choose the range within which they have to guess
- Bonus: keep track of how many guesses were made and print this at the end

In [2]:
for UserGuess in range(20):
    print("The user guess" + UserGuess)
for z in random.randin[1,2,3,4,5,6,7,8,9,10]:
    print(z)

TypeError: can only concatenate str (not "int") to str

-----------------------------------------------------------------------------
# Exercise 08
Ask a sentence as input, then print the words in alphabetical order.
Hint: look up how to split up a string

In [3]:
for char in "Ask a sentence ae input":
    print(char)

A
s
k

a

s
e
n
t
e
n
c
e

a
e

i
n
p
u
t

-----------------------------------------------------------------------------
# Exercise 09
Write a program using for loops to print a christmas tree of x lines high
specified by the user.
(use for loops)
so for instance, a chrismas tree of 4 high should looks like this:

```

    *
   ***
  *****
 *******
    |

```

hint: first combine strings into a variable before printing

In [4]:
stringC="   *"
stringD="  ***"
stringE=" *****"
stringF="*******"

for i in [stringC , stringD , stringE , stringF]:
    print(i)

   *
  ***
 *****
*******

-----------------------------------------------------------------------------
# Exercise 10
Write a piece of code that prints the first $n$ numbers of the padovan sequence

In [8]:
n=10
w = n-2
e = n-3
n2 = w + e
print (n2)

15